#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: crimson;
}

#nav li{
    margin: 5px;
    padding: 10px 15px;
}

#nav li:hover{
    background-color: darkgoldenrod;
}

#nav a{
    text-decoration: none;
}

/* modelo de caja */
.padre{
    background-color: blueviolet;
    padding: 20px;
}
.hijo{
    background-color: aquamarine;
    padding: 100px;
    border: 10px solid black;
    margin: 30px;
}
/* componente */
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(228, 73, 35);
    gap: 1rem;
}
.card{
    width: 200px;
    background-color: rgb(248, 162, 13);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(255, 255, 253);
}
.card img{
    width: 100%;
    border-radius: 8px;
}
.card p{
    color: blue;
    background-color: beige;
}

/* Carro */
#carroLista{
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(255, 252, 53);
    background-color: rgb(246, 49, 49);
}

/* Concurrencia */
pre{
    text-align: left;
    background-color: blue;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    color: yellowgreen;
}

/* try catch */
#bodyTry{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensaje{
    font-weight: bold;
    color: blue;
}
